

.content{
    max-width: 1000px;
    max-height: 20vh;
    margin: 0 auto;
    
}
.content h1{
    box-sizing: border-box;
    width: 315px;
    height: 72px;
    font-weight: 800;
    line-height: 4.5rem;
    color: #000000;
    font-size: 48px;
    margin-bottom: 8px;
}
.content p{
    width: 975px;
    height: 72px;
    font-weight: 600;
    line-height: 1.5rem;
    color: gray;
    margin-top: 0;
}